# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
out-tsc/

# Environment & secrets
.env
.env.local
.env.*.local
*.pem

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo

# Angular
.angular/

# Prisma
prisma/migrations/

# Coverage
coverage/
